<tr>
  <table
    style='
            width: 100%;
            margin-top: 20px;
            background-color: #fff9cc;
            padding-top: 20px;
          '
  >
    <tbody>
      <tr>
        <td style='text-align: center; padding-top: 20px'>
          <center>
            <img
              src='YOUR LOGO URL'
              style='display: block; margin: 0 auto; padding: 20px 0'
              alt='logo'
              width='48'
              height='48'
            />
          </center>
        </td>
      </tr>
      <tr>
        <td style='padding-bottom: 20px'>
          <p
            style='
                    font-size: 10px;
                    color: #708c91;
                    text-align: center;
                    padding: 0;
                  '
          >
            {{$t 'footerEmail.helpNeeded'}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</tr>