<tr>
  <td>
    <table
      style='
              margin-bottom: 40px;
              width: 100%;
              background-color: #fff9cc;
              padding-top: 20px;
              padding-bottom: 20px;
            '
      width='100%'
    >
      <tbody>
        <tr>
          <td style='text-align: center'>
            <center>
              <a
                href='<YOUR SITE URL>'
                style='
                        font-family: Helvetica, Arial, sans-serif;
                        color: #0086bf;
                      '
                target='_blank'
              >
                <img
                  src='YOUR LOGO URL'
                  style='display: block; margin: 0 auto; padding: 20px 0'
                  alt='logo'
                  width='144'
                  height='144'
                />
              </a>
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>