<tr>
  <td>
    <table
      style='width:100%;margin-bottom:20px'
      width='100%'
      cellpadding='0'
      cellspacing='0'
    >
      <tbody>
        <tr>
          <td>
            <p>
              <strong style='font-family:Helvetica,Arial,sans-serif;'>
                {{$t 'forgotPasswordEmail.hello'}}
                {{userName}},
              </strong>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table
      style='margin-bottom:20px;table-layout:fixed'
      width=''
      cellspacing='0'
      cellpadding='0'
    >
      <tbody>
        <tr>
          <td>
            <p>
              {{$t 'forgotPasswordEmail.instruction'}}
              <a href='{{validationLink}}'>{{$t
                  'forgotPasswordEmail.resetPassword'
                }}</a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table
      style='margin-bottom:20px;table-layout:fixed'
      width=''
      cellspacing='0'
      cellpadding='0'
    >
      <tbody>
        <tr>
          <td>
            <p>
              {{$t 'forgotPasswordEmail.ifYouDidNotRequest'}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>